div {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	margin-left: -180px;
  	margin-top: -40px;
	width:  360px;
	height: 80px;
	text-align: center;
	border-radius: 10px;
	background: black;
	font-family: Arial;
}

p {
	margin: 0;
	font-size: 64px;
	color: red;
	text-align: center
}

span {/*стиль часов*/
	font-size: 64px;
	color: red;
	text-align: center;
	font-family: Arial;
}

#pm {/*стиль надписи pm*/
	font-size: 32px;
	color: green;
}

.point {/*стиль точек*/
	color: #0000ff;

}
